# {{.ProjectName}} Service

## Kernel
- Framework Language {{ .Kernel.Framework.language }}
- Framework Version {{ .Kernel.Framework.version }}

## Description
{{.Description}}

## Features
{{range .Features}}
- {{.}}
{{end}}

## Depend
- logger service

## Initial run command
- `go mod tidy`
- `go run script/core.go`
- `go run main.go`